*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  color: black;
}

/* Burger Nav */
/* .button_container {
  position: fixed;
  top: 4%;
  right: 6%;
  height: 27px;
  width: 26px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 2;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: black;
}
.button_container.active .middle {
  opacity: 0;
  background: black;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: black;
}
.button_container span {
  background: black;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 10px;
}
.button_container span:nth-of-type(3) {
  top: 20px;
} */

/* burger drop */
/* .overlay {
  position: fixed;
  background: #15ff49;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 100;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 80%;
  top: 45%;
  transform: translateY(-50%);
  font-size: 100px;
  font-weight: 800;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
} */

/*MENU*/

.logo {
  padding-top: 35px;
  position: absolute;
}

.logo {
  width: 100px;
  height: 90px;
}

nav {
  font-size: 1.1em;
  text-align: right;
  font-weight: lighter;
  padding-top: 50px;
  padding-right: 0px;
}
nav a:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #098bff;
}

.footer ul *:before,
.footer ul *:after {
  color: white;
}

h1 {
  font-size: 30px;
  color: white;
  padding: 18px;
  padding-bottom: 5px;
}

h2 {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
}

h4 {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
}

/* ------ Night mode support ------ */
/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --color-scheme-background: #ffffff;
    --color-scheme-text-color: #202124;
    --color-scheme-text-alt-colour: #70757a;
    --color-scheme-text-link-colour: #1a73e8;
    --color-scheme-text-link-highlight-colour: #e8f0fe;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme-background: #202124;
    --color-scheme-text-color: #f8f9fa;
    --color-scheme-text-alt-colour: #9aa0a6;
    --color-scheme-text-link-colour: #96bff2;
    --color-scheme-text-link-highlight-colour: rgba(150, 191, 242, 0.24);
  }
}

/*
* Responsive elements from Skeleton V2.0.4 Â· Copyright 2014, Dave Gamache Â· www.getskeleton.com
* Free to use under the MIT license Â· http://www.opensource.org/licenses/mit-license.php Â· 12/29/2014
*/
/* ------ Grid ------ */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 90%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}

/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
/* ------ End grid ------ */

/* Base Styles */
html {
  font-size: 62.5%;
  background-color: var(--color-scheme-background);
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: var(--color-scheme-text-color);
}

.header p {
  text-align: left;
  font-size: 7rem;
  font-weight: 700;
  line-height: 8.5rem;
  font-family: "roboto", monospace;
  padding-top: 60px;
}

.header a {
  color: var(--color-scheme-text-color);
  font-weight: 700;
  text-decoration: none;
  font-family: "GoogleSansBold", sans-serif;
}

/* phone  */
@media (max-width: 550px) {
  .header p {
    font-size: 6rem;
    font-weight: 700;
    line-height: 6rem;
    font-family: "roboto", monospace;
  }
}

p {
  margin-top: 0;
  padding-right: 0%;
  line-height: 3rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

button,
.button {
  margin-bottom: 1rem;
}

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* MORE CSS */
.example-grid .column,
.example-grid .columns {
  background: #eee;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.example {
  position: relative;
  margin-top: 4rem;
}

.navbar {
  display: none;
}

/* Larger than phone */
@media (min-width: 550px) {
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem;
  }
  .value-img {
    margin-bottom: 1rem;
  }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem;
  }
  .docs-section {
    padding: 0rem 0;
  }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px;
  }
  .thumbnail-image-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none;
  }
}

/* Navigation Bar */
.navbar-link {
  font-family: "GoogleSansBold", "Roboto", sans-serif;
  color: var(--color-scheme-text-alt-colour);
  margin-right: 35px;
  font-size: 1.5rem;
  text-transform: lower;
  letter-spacing: 0.2rem;
  border: none;
  white-space: nowrap;
  padding: 10px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  transition: border-bottom 0.2s ease-in;
  -moz-transition: border-bottom 0.2s ease-in;
  -webkit-transition: border-bottom 0.2s ease-in;
}

.navbar-link:hover {
  color: var(--color-scheme-text-link-colour);
  background-color: var(--color-scheme-text-link-highlight-colour);
}

#active {
  color: var(--color-scheme-text-link-colour);
  background-color: var(--color-scheme-text-link-highlight-colour);
}

a:hover {
  cursor: url(../hand.png), pointer !important;
}

.header-style a {
  color: var(--color-scheme-background);
  text-shadow: -1px -1px 0 var(--color-scheme-text-color),
    1px -1px 0 var(--color-scheme-text-color),
    -1px 1px 0 var(--color-scheme-text-color),
    1px 1px 0 var(--color-scheme-text-color);
}

.header-style a:hover {
  color: var(--color-scheme-text-color);
  text-shadow: none;
}

.navbar-link:hover {
  color: var(--color-scheme-text-link-colour);
  background-color: var(--color-scheme-text-link-highlight-colour);
}

#active {
  color: var(--color-scheme-text-link-colour);
  background-color: var(--color-scheme-text-link-highlight-colour);
}

a:hover {
  cursor: url(../hand.png), pointer !important;
}

.header-style a {
  color: var(--color-scheme-background);
  text-shadow: -1px -1px 0 var(--color-scheme-text-color),
    1px -1px 0 var(--color-scheme-text-color),
    -1px 1px 0 var(--color-scheme-text-color),
    1px 1px 0 var(--color-scheme-text-color);
}

.header-style a:hover {
  color: var(--color-scheme-text-color);
  text-shadow: none;
}

/*SCROLLERCOASTER*/
.scroll {
  height: 4vh;
  overflow-x: auto;
  overflow-y: hidden;
  position: fixed;
  bottom: 3vh;
  width: auto;
  z-index: 6;
  background-color: #ffacc7;
  margin-left: -51px;
}

.scroll h3 {
  font-size: 2.4vh;
  color: #ff3000;
  position: relative;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  width: auto;
  height: 5vh;
  margin: 0;
  padding-top: 0.4vh;
  font-family: "San Francisco Display", sans-serif;

  /* Apply animation to this element */
  -moz-animation: scroller 40s linear infinite;
  -webkit-animation: scroller 40s linear infinite;
  animation: scroller 40s linear infinite;
}

.heart {
  height: 40%;
  padding-left: 2vw;
  padding-right: 2vw;
}

/* Move it (define the animation) */

@-webkit-keyframes scroller {
  0% {
    -webkit-transform: translateX(13%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

/* footer */
.footer {
  background-color: black;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
}

li {
  display: inline;
  padding: 18px;
  text-decoration: none;
  font-size: 0.8em;
}

.socials {
  padding: 20px;
  padding-bottom: 20px;
}

.copyright {
  font-size: 1em;
  padding-bottom: 20px;
}
