@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  color: black;
}
/* Burger Nav */
.button_container {
  position: fixed;
  top: 4%;
  right: 6%;
  height: 27px;
  width: 26px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 2;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: black;
}
.button_container.active .middle {
  opacity: 0;
  background: black;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: black;
}
.button_container span {
  background: black;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 10px;
}
.button_container span:nth-of-type(3) {
  top: 20px;
}

/* burger drop */
.overlay {
  position: fixed;
  background: #15ff49;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 100;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 80%;
  top: 45%;
  transform: translateY(-50%);
  font-size: 100px;
  font-weight: 800;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/* ------ Night mode support ------ */
/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --color-scheme-background: #ffffff;
    --color-scheme-text-color: blue;
    --color-scheme-text-alt-colour: #70757a;
    --color-scheme-text-link-colour: #1a73e8;
    --color-scheme-text-link-highlight-colour: #e8f0fe;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme-background: #202124;
    --color-scheme-text-color: #f8f9fa;
    --color-scheme-text-alt-colour: #9aa0a6;
    --color-scheme-text-link-colour: #96bff2;
    --color-scheme-text-link-highlight-colour: rgba(150, 191, 242, 0.24);
  }
}

/* Base Styles */
html {
  font-size: 60%;
  background-color: var(--color-scheme-background);
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: var(--color-scheme-text-color);
}

.header p {
  text-align: left;
  font-size: 7rem;
  font-weight: 700;
  line-height: 8.5rem;
  font-family: "roboto", monospace;
  padding-top: 60px;
}

.header a {
  color: var(--color-scheme-text-color);
  font-weight: 700;
  text-decoration: none;
  font-family: "GoogleSansBold", sans-serif;
}

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Navigation Bar */
.navbar-link {
  font-family: "GoogleSansBold", "Roboto", sans-serif;
  color: var(--color-scheme-text-alt-colour);
  margin-right: 35px;
  font-size: 1.5rem;
  text-transform: lower;
  letter-spacing: 0.2rem;
  border: none;
  white-space: nowrap;
  padding: 10px;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  transition: border-bottom 0.2s ease-in;
  -moz-transition: border-bottom 0.2s ease-in;
  -webkit-transition: border-bottom 0.2s ease-in;
}

.navbar-link:hover {
  color: var(--color-scheme-text-link-colour);
  background-color: var(--color-scheme-text-link-highlight-colour);
}

#active {
  color: var(--color-scheme-text-link-colour);
  background-color: var(--color-scheme-text-link-highlight-colour);
}

a:hover {
  cursor: url(../hand.png), pointer !important;
}

.header-style a {
  color: var(--color-scheme-background);
  text-shadow: -1px -1px 0 var(--color-scheme-text-color),
    1px -1px 0 var(--color-scheme-text-color),
    -1px 1px 0 var(--color-scheme-text-color),
    1px 1px 0 var(--color-scheme-text-color);
}

.header-style a:hover {
  color: var(--color-scheme-text-color);
  text-shadow: none;
}

.navbar-link:hover {
  color: var(--color-scheme-text-link-colour);
  background-color: var(--color-scheme-text-link-highlight-colour);
}

#active {
  color: var(--color-scheme-text-link-colour);
  background-color: var(--color-scheme-text-link-highlight-colour);
}

a:hover {
  cursor: url(../hand.png), pointer !important;
}

.header-style a {
  color: var(--color-scheme-background);
  text-shadow: -1px -1px 0 var(--color-scheme-text-color),
    1px -1px 0 var(--color-scheme-text-color),
    -1px 1px 0 var(--color-scheme-text-color),
    1px 1px 0 var(--color-scheme-text-color);
}

.header-style a:hover {
  color: var(--color-scheme-text-color);
  text-shadow: none;
}

body {
  font-family: "San Francisco Display", sans-serif;
}

.container {
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #15ff49;
}

.burger-menu {
  position: absolute;
  display: none;
  width: 20px;
  top: 10.75%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 31px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  transition-delay: 0.25s;
}

.burger-menu.animated-in {
  opacity: 1;
  visibility: visible;
}
.burger-menu.active span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.burger-menu.active span:nth-child(2) {
  opacity: 0;
}

.burger-menu.active span:nth-child(3) {
  top: -7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.burger-menu span {
  position: relative;
  display: block;
  height: 3px;
  top: 0;
  background: #fff;
  transition: 0.3s;
}

.burger-menu span + span {
  margin-top: 4px;
}

@media (max-width: 767px) {
  .burger-menu {
    display: block;
  }
}

.button:hover {
  background-color: #098bff;
}

.logo {
  padding-top: 35px;
  position: absolute;
}

.logo {
  width: 100px;
  height: 90px;
}

nav {
  font-size: 17.6px;
  text-align: right;
  font-weight: lighter;
  padding-top: 50px;
  padding-right: 10px;
}

li {
  display: inline;
  padding: 18px;
  text-decoration: none;
}

.footer h1 {
  font-size: 30px;
  color: white;
  padding: 18px;
  padding-bottom: 5px;
}

p {
  font-size: 22px;
  text-align: justify;
  padding-top: 50px;
  line-height: 2;
  letter-spacing: -0.031em;
  font-weight: 500;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: black;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  line-height: 1.5;
}

.socials {
  padding: 20px;
  padding-bottom: 20px;
}

.footer p {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
}

.footer ul *:before,
.footer ul *:after {
  color: white;
}

.copyright {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
}

/* iPhone X */
@media screen and (max-width: 400px) {
  .content {
    max-width: 300px;
    margin-left: 38px;
  }

  .logo {
    width: 122px;
    height: 54px;
    padding-left: 32px;
    padding-top: 0px;
  }

  nav {
    display: none;
  }

  .button_container {
    top: 5%;
    right: 8%;
  }
  .overlay nav {
    height: 70%;
    top: 45%;
    font-size: 54px;
    display: block;
  }
  .header p {
    text-align: left;
    font-size: 5rem;
    font-weight: 550;
    line-height: 6rem;
    font-family: "roboto", monospace;
    padding-top: 80px;
    margin: 25px;
  }
}

@media (max-width: 768px) and (min-width: 401px) {
  .container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }
  .header p {
    text-align: left;
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 6rem;
    font-family: "roboto", monospace;
    padding-top: 100px;
    margin: 25px;
  }

  .button_container {
    top: 6%;
    right: 6%;
  }

  .footer {
    width: 100%;
  }
  .footer h1 {
    font-size: 28px;
  }
  nav {
    display: none;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .button_container {
    display: none;
  }

  .overlay nav {
    height: 80%;
    top: 45%;
    font-size: 80px;
  }
}
