@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  color: black;
}

body {
  font-family: "San Francisco Display", sans-serif;
  font-size: 16.37px;
}

.container {
  margin: 0 auto;
}

.content {
  max-width: 974px;
}

nav a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #15ff49;
}

.button:hover {
  background-color: #098bff;
}

.logo {
  left: 8%;
  top: 4.5%;
  position: absolute;
}

.logo {
  width: 100px;
  height: 55px;
}

nav {
  font-size: 1.1em;
  text-align: right;
  font-weight: lighter;
  padding-top: 5%;
  padding-right: 1.5%;
}

li {
  display: inline;
  padding: 18px;
  text-decoration: none;
}

.container h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: -0.03em;
  font-weight: 600;
  margin-bottom: 25px;
}

h2 {
  font-size: 30px;
  text-align: left;
  margin-top: 30px;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

h4 {
  font-size: 22px;
  text-align: justify;
  line-height: 1.65;
  margin-bottom: 38px;
  letter-spacing: -0.031em;
  font-weight: 300;
  margin-top: 5px;
}

h5 {
  font-size: 26px;
  color: #000000;
  margin-top: 150px;
  text-align: center;
  padding-bottom: 40px;
}

h6 {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  padding-top: 15px;
  letter-spacing: 0.02em;
}

h7 {
  font-size: 40px;
  font-weight: 500;
}

.prototype {
  color: blue;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
}

.invision {
  background-color: #098bff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  min-width: 220px;
  margin-left: 35%;
  margin-top: 30px;
}

/* Burger Nav */
.button_container {
  position: fixed;
  top: 6%;
  right: 8%;
  height: 27px;
  width: 26px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 2;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: black;
}
.button_container.active .middle {
  opacity: 0;
  background: black;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: black;
}
.button_container span {
  background: black;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 10px;
}
.button_container span:nth-of-type(3) {
  top: 20px;
}

/* burger drop */
.overlay {
  position: fixed;
  background: #15ff49;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 100;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 80%;
  top: 48%;
  transform: translateY(-50%);
  font-size: 66px;
  font-weight: 600;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/* icons */
.icons {
  max-width: 90px;
  max-height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.ioverview {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.iproblem {
  height: 86px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.ivisual {
  height: 47px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.ibrain {
  width: 95px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.idiscovery {
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.ipersona {
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 40px;
}

.iprototype {
  width: 98px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 40px;
}

.iskin {
  width: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.iresults {
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.ifinal {
  width: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

/* images */
.cubecloud {
  padding-top: 100px;
  max-width: 974px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.interaction {
  padding-top: 20px;
  width: 100%;
}

.research {
  padding-top: 10px;
  padding-bottom: 50px;
  width: 100%;
}

.competitive {
  margin: 0 auto;
  display: block;
  width: 800px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.competitive_01 {
  max-width: 140px;
  margin-right: 40px;
}

.competitive_02 {
  max-width: 140px;
  margin-right: 40px;
}

.competitive_03 {
  max-width: 220px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding-left: 0px;
  padding-top: 20px;
  margin-bottom: -70px;
}

.flow {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
}

.sketch {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 35px;
}

.logosketch {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 30px;
}

.styles {
  width: 450px;
  display: inline-block;
  margin-left: 30px;
  padding-top: 25px;
  padding-bottom: 40px;
}

.wireframes {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 30px;
}

.preference {
  max-width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 70px;
}
.win {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.folding {
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 40px;
}

/* footer */
.footer h1 {
  font-size: 30px;
  color: white;
  padding: 18px;
  padding-bottom: 5px;
}

p {
  font-size: 22px;
  text-align: justify;
  margin-top: 30px;
  line-height: 2;
  margin-bottom: 38px;
  letter-spacing: -0.031em;
  font-weight: 300;
}

.footer {
  background-color: black;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  line-height: 1.5;
}

.socials {
  padding: 20px;
  padding-bottom: 20px;
}

.footer p {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
}

.footer ul *:before,
.footer ul *:after {
  color: white;
}

.copyright {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
}

/* iPhone X */
@media screen and (max-width: 414px) {
  .content {
    max-width: 315px;
    width: 100%;
    margin: 0 auto;
  }

  .container {
    width: 375px;
    height: 100%;
  }

  nav li {
    display: none;
  }

  .button_container {
    top: 5.8%;
    right: 8%;
  }

  .overlay nav {
    height: 70%;
    top: 46%;
    font-size: 66px;
    font-weight: 600;
    display: block;
  }

  .prototype {
    font-size: 18px;
  }

  p {
    font-size: 18px;
  }

  .container h1 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
  }
  h3 {
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 12px;
  }
  h4 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 38px;
  }
  h5 {
    font-size: 22px;
    margin-top: 50px;
  }

  h6 {
    font-size: 14px;
    padding-bottom: 20px;
  }
  h7 {
    font-size: 26px;
  }

  .icons {
    max-width: 55px;
    max-height: 60px;
    margin-top: 50px;
  }

  .ioverview {
    width: 75px;
    margin-top: 50px;
  }

  .iproblem {
    height: 60px;
    margin-top: 50px;
  }

  .ivisual {
    height: 33px;
    margin-top: 50px;
  }

  .ibrain {
    width: 68px;
    margin-top: 50px;
  }

  .idiscovery {
    width: 54px;
    margin-top: 50px;
  }

  .ipersona {
    width: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .iprototype {
    width: 70px;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .iskin {
    width: 50px;
    margin-top: 50px;
  }

  .iresults {
    width: 66px;
    margin-top: 70px;
  }

  .ifinal {
    width: 55px;
    margin-top: 50px;
  }

  .cubecloud {
    width: 375px;
    padding-top: 100px;
  }
  .interaction {
    width: 375px;
    padding-top: 5px;
    margin-left: -40px;
  }
  .research {
    padding-top: 0px;
    padding-bottom: 26px;
    width: 345px;
    margin-left: -20px;
  }
  .competitive {
    width: 375px;
    margin-left: -40px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .competitive_01 {
    max-width: 50px;
    margin-right: 20px;
  }
  .competitive_02 {
    max-width: 50px;
    margin-right: 20px;
  }
  .competitive_03 {
    max-width: 75px;
  }
  .row {
    display: block;
    margin-left: -13px;
  }
  .column {
    flex: 33.33%;
    padding-left: 0px;
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .flow {
    width: 100%;
    margin-left: -30px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sketch {
    width: 375px;
    margin-left: -40px;
    padding-top: 0px;
  }
  .logosketch {
    width: 280px;
  }
  .styles {
    width: 300px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .wireframes {
    width: 375px;
    margin-left: -40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .preference {
    max-width: 290px;
    padding-top: 0px;
    padding-bottom: 25px;
  }
  .win {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .invision {
    padding: 12px 32px;
    font-size: 12px;
    min-width: 160px;
    margin-left: 35px;
    margin-top: 0px;
  }
  .folding {
    max-width: 320px;
    margin-left: -15px;
    padding-top: 0px;
  }

  h1 {
    font-size: 27px;
    padding: 14px;
  }

  .footer {
    padding: 20px;
    font-size: 16px;
  }

  li {
    padding: 12px;
    font-size: 0.8em;
  }

  .copyright {
    font-size: 0.9em;
  }
}
@media (max-width: 768px) and (min-width: 414px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .cubecloud {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
  .footer h1 {
    font-size: 28px;
  }
  nav li {
    display: none;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 769px) {
  .container {
    width: 100%;
    max-width: 720px;
    margin-left: 50px;
  }

  .button_container {
    top: 5%;
  }

  nav li {
    display: none;
  }

  .cubecloud {
    width: 100%;
  }

  .column {
    margin-left: 10px;
  }

  .persona1 {
    width: 230px;
  }

  .persona2 {
    width: 230px;
  }

  .persona3 {
    width: 230px;
  }

  .preference {
    width: 100%;
  }

  .folding {
    width: 100%;
  }

  .competitive {
    width: 800px;
    margin-left: -40px;
  }

  .competitive_01 {
    max-width: 100px;
    margin-right: 20px;
  }

  .competitive_02 {
    max-width: 100px;
    margin-right: 20px;
  }

  .competitive_03 {
    max-width: 120px;
  }

  .styles {
    width: 300px;
    margin-left: 40px;
  }

  .footer {
    width: 100%;
  }

  .footer h1 {
    font-size: 28px;
  }
}
/* desktop */
@media screen and (min-width: 769px) {
  .button_container {
    display: none;
  }
}
