@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  color: black;
}

body {
  font-family: "San Francisco Display", sans-serif;
}

.container {
  margin: 0 auto;
}

.content {
  max-width: 974px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.burger-menu {
  position: absolute;
  display: none;
  width: 20px;
  top: 10.75%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 31px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  transition-delay: 0.25s;
}

.burger-menu.animated-in {
  opacity: 1;
  visibility: visible;
}
.burger-menu.active span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.burger-menu.active span:nth-child(2) {
  opacity: 0;
}

.burger-menu.active span:nth-child(3) {
  top: -7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.burger-menu span {
  position: relative;
  display: block;
  height: 3px;
  top: 0;
  background: #fff;
  transition: 0.3s;
}

.burger-menu span + span {
  margin-top: 4px;
}

@media (max-width: 767px) {
  .burger-menu {
    display: block;
  }
}

.button:hover {
  background-color: #098bff;
}

.logo {
  padding-top: 35px;
  position: absolute;
}

.logo {
  width: 100px;
  height: 90px;
}

nav {
  font-size: 1.1em;
  text-align: right;
  font-weight: lighter;
  padding-top: 50px;
  padding-right: 10px;
}

li {
  display: inline;
  padding: 18px;
  text-decoration: none;
  font-size: 0.8em;
}

.icons {
  max-width: 90px;
  max-height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.ioverview {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.iproblem {
  height: 86px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.ivisual {
  height: 47px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.ibrain {
  width: 95px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.idiscovery {
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.ipersona {
  width: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 40px;
}

.iprototype {
  width: 98px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 40px;
}

.iskin {
  width: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.iresults {
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.ifinal {
  width: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.container h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  letter-spacing: -0.03em;
  font-weight: 600;
  margin-bottom: 25px;
}

h2 {
  font-size: 30px;
  text-align: left;
  margin-top: 30px;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

h4 {
  font-size: 22px;
  text-align: justify;
  line-height: 1.65;
  margin-bottom: 38px;
  letter-spacing: -0.031em;
  font-weight: 300;
  margin-top: 5px;
}

.cubecloud {
  padding-top: 100px;
  max-width: 974px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.interaction {
  padding-top: 20px;
  width: 100%;
}

.research {
  padding-top: 10px;
  padding-bottom: 50px;
  width: 100%;
}

.competitive {
  margin: 0 auto;
  display: block;
  width: 800px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.competitive_01 {
  max-width: 140px;
  margin-right: 40px;
}

.competitive_02 {
  max-width: 140px;
  margin-right: 40px;
}

.competitive_03 {
  max-width: 220px;
}

.personas {
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 30px;
}

.flow {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
}

.sketch {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 35px;
}

.logosketch {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 30px;
}

.styles {
  width: 450px;
  display: inline-block;
  margin-left: 30px;
  padding-top: 25px;
  padding-bottom: 40px;
}

.wireframes {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 30px;
}

.preference {
  max-width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 70px;
}
.win {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.folding {
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 40px;
}

.invision {
  background-color: #098bff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  min-width: 220px;
  margin-left: 35%;
  margin-top: 30px;
}

h5 {
  font-size: 26px;
  color: #000000;
  margin-top: 150px;
  text-align: center;
  padding-bottom: 40px;
}

h6 {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  padding-top: 15px;
  letter-spacing: 0.02em;
}

h7 {
  font-size: 40px;
  font-weight: 500;
}

.footer h1 {
  font-size: 30px;
  color: white;
  padding: 18px;
  padding-bottom: 5px;
}

p {
  font-size: 22px;
  text-align: justify;
  margin-top: 30px;
  line-height: 2;
  margin-bottom: 38px;
  letter-spacing: -0.031em;
  font-weight: 300;
}

.prototype {
  color: blue;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.footer {
  background-color: black;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  line-height: 1.5;
}

.socials {
  padding: 20px;
  padding-bottom: 20px;
}

.footer p {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
}

.footer ul *:before,
.footer ul *:after {
  color: white;
}

.copyright {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
}

/* iPhone X */
@media screen and (max-width: 768px) {
  .container {
    margin-left: 30px;
  }

  .content {
    max-width: 335px;
    padding-left: 30px;
  }

  .logo {
    width: 95px;
    height: 90px;
  }

  nav {
    display: none;
  }
  .prototype {
    font-size: 22px;
  }
  .container h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 30px;
    margin-top: 30px;
  }
  h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  h4 {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 38px;
  }
  h7 {
    font-size: 26px;
  }

  .ioverview {
    width: 75px;
    margin-top: 50px;
  }

  .cubecloud {
    width: 420px;
    padding-top: 120px;
    margin-left: -30px;
  }
  .competitive {
    width: 375px;
  }
  .personas {
    width: 375px;
  }
  .logosketch {
    width: 375px;
  }
  .styles {
    width: 375px;
  }
  .preference {
    max-width: 375px;
  }
  .folding {
    max-width: 375px;
  }
}
/* tablet */
@media screen and (min-width: 768px) {
}

/* tablet 2 */
@media screen and (min-width: 1024px) {
}
